<footer class="bg-light text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-12 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase text-center">Pizza Enterprise</h5>

        <p class="text-center" tyle="width: 50%;">
          Pizza Enterprise est une chaîne de restauration rapide en franchise dont 
          le siège social est situé dans la région de la Bretagne en France. 
          Elle est spécialisée dans les pizzas, livre 7 jours sur 7 de 11 heures à 14 heures
          et de 19 heures à 23 heures.
        </p>
      </div>
      <!--Grid column-->
    </div>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    <p>Pour votre santé, mangez au moins cinq fruits et légumes par jour <a href="http://www.mangerbouger.fr">www.mangerbouger.fr</a></p>
  </div>
</footer>

