<form #f="ngForm" (ngSubmit)="createPizza(f)">
  <label for="qty">Quantity : </label>
  <input type="number" ngModel name="qty" id="qty">
  <br>
  <label for="name">Name : </label>
  <input type="number" ngModel name="name" id="name">
  <br>
  <label for="dough">Dough : </label>
  <input type="number" ngModel name="dough" id="dough">
  <br>
  <label for="size">Size : </label>
  <input type="number" ngModel name="size" id="size">
  <br>
  <input type="submit" value="ADD">
</form>



<div class="w-75 border border-secondary mx-auto">
  <div>
    <p class="font-weight-bold">MON PANIER</p>
    <hr>
    <div *ngFor="let pizzacreated of pizzacreateds">
      <div class="d-flex justify-content-between">
        <p>{{pizzacreated.number}} x {{pizzacreated.pizza.name}}, {{pizzacreated.dough.name}} (+{{pizzacreated.dough.addedPrice}}€), {{pizzacreated.pizza_size.name}} (+{{pizzacreated.pizza_size.addedPrice}}€) | {{pizzacreated.pizza.price}}€</p>
        <button type="button" class="btn btn-danger">X</button>
      </div>
      <hr>
    </div>
    <div class="d-flex justify-content-between">
      <p class="font-weight-bold">TOTAL : {{getCount()}} €</p>
      <button type="button" class="btn btn-success">Paiement</button>
    </div>
  </div>
</div>
