<div class="card mt-3 w-75 mx-auto">
  <div class="card-header h5 font-weight-bold">MON PANIER</div>

  <div class="card-body">
    <div *ngFor="let pizzaInCart of pizzas">
      <div class="d-flex justify-content-between">

        <div>
          <img class="content-image rounded my-auto " height="150px" width="150px" src="http://web.cryfter.ovh:1337{{pizzaInCart.pizza.image.url}}">
        </div>

        <div class="my-auto">
          <p><strong>Name : </strong>{{pizzaInCart.pizza.name}}</p>
          <p><strong>Price : </strong>{{pizzaInCart.number * (pizzaInCart.pizza.price + pizzaInCart.dough.addedPrice + pizzaInCart.pizza_size.addedPrice)}} €</p>
        </div>

        <div>
          <!-- <form #f="ngForm" (ngSubmit)="createPizza(f)"> -->

            <div class="w-75 mt-2">
              <input type="number" class="form-control input-sm" [value]="pizzaInCart.number" name="qty">
            </div>

            <div class="w-75 mt-3">
              <select name="dough" class="form-control custom-select custom-select-sm">
                  <option [value]="pizzaInCart.dough.id" selected>{{pizzaInCart.dough.name}}</option>
                  <option *ngFor="let dough of doughs" [value]="dough.id">
                  {{dough.name}}
                  </option>
              </select>
            </div>

            <div class="w-75 mt-3">
              <select name="size" class="form-control custom-select custom-select-sm" >
                  <option [value]="pizzaInCart.pizza_size.id" selected>{{pizzaInCart.pizza_size.name}}</option>
                  <option *ngFor="let size of sizes" [value]="size.id">
                  {{size.name}}
                  </option>
              </select>
            </div>

          <!-- </form> -->
        </div>

        <button type="button" class="btn btn-danger h-25 my-auto">X</button>
      </div>
      <hr>
    </div>
  </div>

  <div class="card-footer d-flex justify-content-between">
    <p class="font-weight-bold my-auto">TOTAL : {{getCount()}} €</p>
    <button type="button" class="btn btn-success">Paiement</button>
  </div>

</div>
