<div class="container mt-4" style="margin-bottom: 165px;">
    <h1>Liste des commandes</h1>
    <table class="table">
        <thead>
          <tr class="text-center">
            <th scope="col">#</th>
            <th scope="col">Payed</th>
            <th scope="col">Accepted</th>
            <th scope="col">Sent</th>
            <th scope="col">Published at</th>
            <th scope="col">Plus de detail</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let commande of commandes" class="text-center">
            <th scope="row">{{ commande.id }}</th>
            <td>
              <input class="form-check-input" type="checkbox" [(ngModel)]="commande.payed" id="flexCheckDefault" (change)="changePayed(commande.payed, commande.id)" [checked]="commande.payed">
            </td>
            <td>
              <input class="form-check-input" type="checkbox" [(ngModel)]="commande.accepted" id="flexCheckDefault" (change)="changeAccepted(commande.accepted, commande.id)" [checked]="commande.accepted">
            </td>
            <td>
              <input class="form-check-input" type="checkbox" [(ngModel)]="commande.sent" value="" id="flexCheckDefault" (change)="changeSent(commande.sent, commande.id)" [checked]="commande.sent">
            </td>
            <td>{{commande.published_at | date:'fullDate'}}</td>
            <td>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Pizzas</button>
<!--              <p *ngFor="let pizza of commande.Pizza_createds">-->
<!--                {{pizza.name}}-->
<!--              </p>-->
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Les pizzas</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div *ngFor="let pizza of commande.pizza_createds">
                        <div *ngFor="let pizzacreated of pizzacreateds">
                          <div *ngIf="pizza.id == pizzacreated.id">
                            
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
    </table>
</div>
