<nav id="header" class="navbar">
  <div class="container-fluid">

    <a class="navbar-brand">
      <img src="assets/logo.png" alt="" width="180" height="80">
        </a>
            <form class="d-flex">
              <a class="nav-link active text-danger" aria-current="page" style="font-style:italic"  href="#"><strong>Home</strong></a>
              <a class="nav-link text-danger" style="font-style:italic" href="#"><strong>Link</strong></a>
              <a id="pp" class="nav-link" href="#">
              <img src="assets/panier.ico" alt="" width="40" height="40">
              </a>
    </form>

  </div>
</nav>
