  <div class="product">
    <div class="container mb-5 mt-5">
      <div class="row border rounded overflow-hidden position-relative">
        <div class="col p-4 d-inline-flex flex-column ">
          <h3 class="name mb-2">{{pizza.name}}</h3>
          <div class="base mb-2 ">{{pizza.base}}</div>
          <div class="price mb-2 text-muted ">{{pizza.price}}</div>
          <div class="card-text mb-auto">{{pizza.ingredients}}</div>
          <a href="#" class="text-danger">Buy Pizza</a>
        </div>
        <div class="col p-4 d-flex">
          <img src={{pizza.img}} class="rounded float-right" height="200px" width="200px">
        </div>
  </div>
