  <div class="product">
    <div class="container mb-5 mt-5">
      <div class="row border rounded overflow-hidden flex-sm-row mb-4 shadow-sm h-sm-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h2 class="base d-inline-block mb-2 text-primary">{{pizza.base}}</h2>
          <h3 class="name mb-2">{{pizza.name}}</h3>
          <div class="price mb-2 text-muted">{{pizza.price}}</div>
          <div class="card-text mb-auto">{{pizza.ingredients}}</div>
        </div>
      <div class="col p-4 d-flex flex-column position-static" focusable="false">
          <img src="https://commande.dominos.fr/ManagedAssets/FR/product/P4FR/FR_P4FR_fr_hero_8003.jpg?v-1416700018"height="80%" width="60%">
        </div>
    <div  class="row p-4 d-flex flex-column position-relative">
    <a href="#" class="stretched-link">Buy Pizza</a>
    </div>
  </div>
